
/***** 搜索输入框 *****/
.el-input__inner{
    height: 52px;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
    background-color:whitesmoke
}

/****** 搜索图标加上它的框 ******/
.el-input-group__append{
    border-radius: 0%;
}

/****** 图标搜索 ******/
#iconButton{
    border-radius: 0px; 
    border: none;
    height: 52px; 
    background-color:whitesmoke; 
    
    /* border-top: 1px solid */
}

/***** 侧边菜单栏 *****/
.el-menu{
    border-right: none; 
    margin-top: 80px;
    position: fixed;
    z-index: 99999;
}
/* 文章链接 */
.linkTitle{
    color: #2B40B3;
    height: 50px;
    cursor:pointer;
}
.linkTitle:hover{
    font-size:18px;
}
/* 关键字 */
#keyword{
    color: #FFB669;
}

/* 时间 */
.inf{
    font-style: italic;
    color:#282A36;
}

/* 返回顶部按钮 */
.returnToTop{
    display: none;
    opacity: 0.6;
    z-index: 99999;
    position: fixed;
    bottom: 183px;
    left: 30px;
    cursor: pointer;
}

.returnToTop{
    opacity: 1;
    filter: alpha(opacity=100);
}


